<section class="row" id="how">
  <h1 class="text-center">
    <strong>How to use</strong>
  </h1>
  <div class="col-md-4">
    <h2><i class="fa fa-quote-right"></i> Write/Paste a text.</h2>
    <h4>Enjoy your <b>unlimited</b> characters!</h4>
  </div>
  <div class="col-md-4">
    <h2> <i class="fa fa-gear"></i> Generate question</h2>
    <h4>Click <b>generate</b> button and the AI will create a question for you.</h4>
  </div>
  <div class="col-md-4">
    <h2><i class="fa fa-clipboard"></i> Copy to clipboard</h2>
    <h4>Click the <b>copy</b> button to use the question.</h4>
  </div>
</section>
<hr>